.container-fluit{
    background: white;
    max-height: 40px;
    margin: 0px 20px;
}
.img-microsoft{
    line-height: 40px;
    height: 25px;
    border-right: black solid;
    padding-right: 20px;
    position: relative;

}
.nav-item{
    padding: 0px 10px 0px 10px;
    font-size: 14px;
}

.left{
    margin: 0;
    height: 36.44px;
}
.right{
    margin-left: 140px;
}

a:hover{
    border-bottom: solid 2px;
}
a:focus {
    border: dotted 2px;
}
.carousel-inner{
    width: 100%;
}

.tranfer{
    position: relative;
    right: 250px;
    bottom: 300px;
    color: red;
    max-height: 300px;
    max-width: 500px    ;
}
#carouselExampleDark{
    margin-top: 30px;
}
.height-50{
    max-height: 300px;
}
.link{
    text-decoration: none;
}
.link:hover{
    border: none;
}
.container{
    padding-top: 30px;
    max-resolution: 10px 200px 10px 200px;
    align-items: center;
}
.nav__link{
    height: 100px;
    width: 200px;
    text-align: center;

}
.nav-link{
    color: black;
}
.nav-link:focus{
    border: dotted 2px;
}
.nav-link:hover{
    border: none;
}
.item_1{

    border: dotted 1px;
}
.slides__banner{
    margin: 0 auto;

}
.img__1{
    height: 400px;
    text-align: center;
    position: relative;
    left: 100px;
}
.carousel-control-next:focus,.carousel-control-prev:focus{
    border: none;
}
.carousel-control-prev-icon:hover{
    background-color: #666666 ;
    border-radius: 50%;
    height: 40px;
    width: 40px;

}
.carousel-control-next-icon:hover{
    background-color: #666666 ;
    border-radius: 50%;
    height: 40px;
    width: 40px;

}
.product_list{
    margin-left: 20px;
   margin-top: 30px;
}
.col-lg-6{
    height: 500px;
}

.col__2{
    margin-left: -20px;
}
.text-reset{
    color: #635454;
}
.text-reset:hover{
   border: none;
    text-decoration: none;
}
footer{
    margin-top: 20px;
}
.height-50{
    height: 150px;
}
.right_pic3{
    position: absolute;
    right: 100px
}