<div class="container-fluid px-0" style="height: 100vh">
  <nav class="navbar navbar-expand-lg navbar-light rounded" style="background-color: lightseagreen; height: 10%">
    <a class="navbar-brand" href="#">Furama Resort</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Liên Hệ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tuyển Dụng
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="false">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row" style="height: 90%" >
    <div class="col-2">
      <div class="list-group border border-secondary h-100" >
        <a href="#" class="list-group-item list-group-item-action bg-secondary" aria-current="true" routerLink="">
          Home
        </a>
        <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/employee-list']">Manager Employee</a>
        <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/customer-list']">Manager Customer</a>
        <a href="#" class="list-group-item list-group-item-action">Manager Contact</a>
        <a href="#" class="list-group-item list-group-item-action">Manager Service</a>
        <a href="#" class="list-group-item list-group-item-action">Manager Contact-Details</a>
      </div>
    </div>
    <div class="col-10 p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
