<div class="container">
  <form [formGroup]="contractForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-row">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email">
        <div class="text-danger" role="alert" *ngFor="let validate of validate_message.email">
          <div *ngIf="contractForm.get('email')?.hasError(validate.type) && (contractForm.get('email')?.dirty || contractForm.get('email')?.touched)">
          {{validate.message}}
          </div>
        </div>
      </div>
      <div class="form-row" formGroupName="pw">
        <div class="form-row col-md-6">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
          <div *ngIf="contractForm.get('pw').get('password')?.hasError('minLength') && (contractForm.get('pw').get('minLength')?.dirty || contractForm.get('pw').get('minLength')?.touched)">
            Khong dc ít hơn 6 kí tự
          </div>
        </div>
        <div class="form-row col-md-6">
          <label for="configPassword">Confirm Password</label>
          <input type="password" class="form-control" id="configPassword" placeholder="Password" formControlName="confirmpassword">
          <div *ngIf="contractForm.get('pw').get('configpassword')?.hasError('minLength') && (contractForm.get('pw').get('configpassword')?.dirty || contractForm.get('pw').get('configpassword')?.touched)">
            Khong đc ít hơn 6 kí tự
          </div>
        </div>
        <div class="col alert alert-danger" role="alert"
             *ngIf="contractForm.hasError('passwordnotmatch', ['pw']) &&
              contractForm.get('pw').touched">
          Password does not match!
        </div>
      </div>
    </div>
    <div class="form-group col-lg-6">
      <label for="inputAddress2">Age</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="AGE" formControlName="age">
      <div class="text-danger" role="alert" *ngFor="let validate of validate_message.age">
        <div *ngIf="contractForm.get('age')?.hasError(validate.type) && (contractForm.get('age')?.dirty || contractForm.get('age')?.touched)">
          {{validate.message}}
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-row">
        <label for="inputState">Country</label>
        <select id="inputState" formControlName="country" class="form-control">
          <option *ngFor="let country of countryList" [ngValue]="country">{{ country }}</option>
        </select>
      </div>
      <br>
      <div class="form-row ">
        <label for="inputZip">Phone</label>
        <input type="text" class="form-control" id="inputZip" formControlName="phone">
        <div class="text-danger" role="alert" *ngFor="let validate of validate_message.phone">
          <div *ngIf="contractForm.get('phone')?.hasError(validate.type) && (contractForm.get('phone')?.dirty || contractForm.get('phone')?.touched)">
            {{validate.message}}
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-check">
        <label>Gender </label>
        <input type="radio" value="male"  name="gender" formControlName="gender"> Male
        <input type="radio" value="female"  name="gender" formControlName="gender"> Female
        <div class="text-danger" role="alert" *ngFor="let validate of validate_message.email">
          <div *ngIf="contractForm.get('gender')?.hasError(validate.type) && (contractForm.get('gender')?.dirty || contractForm.get('gender')?.touched)">
            {{validate.message}}
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

</div>


